@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url('../src/assets/img/bg-body.jpg') no-repeat center center fixed;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}



.App-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../src/assets/img/lac-pavin-2.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(4px);
  z-index: -1;
}

.card {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.card h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.card p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1em;
  color: black;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.link {
  width: 100%;
  margin: 10px 0;
}

a {
  display: block;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(173, 177, 179, 0.525);
  border: solid white 3px;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

a:hover {
  background-color: rgba(21, 108, 159, 0.781);
}

.phone-number{
  display: block;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(173, 177, 179, 0.525);
  border: solid white 3px;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  cursor: pointer;
}

.phone-number:hover {
  background-color: rgba(21, 108, 159, 0.781);
}

.share-button {
  display: none; 
}

.footer {
  margin-top: 30px;
  font-size: 0.8em;
  color: white;
  text-align: center;
}

.footer > p{
  color: white;
}


@media (max-width: 600px) {
  .App-header {
    max-width: 90%;
    padding: 10px;
  }

  .share-button {
    display: block; 
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5em;
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .profile-image {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }

  .card h1 {
    font-size: 1.5em;
  }

  a {
    font-size: 0.9em;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .App-header {
    height: 100vh;
    max-width: 100%;
    padding: 10px;
    border-radius: 0; 
  }

  .profile-image {
    width: 100px; 
    height: 100px;
    margin-bottom: 10px;
  }

  .card h1 {
    font-size: 1.5em; 
  }

  a {
    font-size: 1em; 
    padding: 10px; 
  }
}